@model ViewModel


<div class="row" style="padding-bottom:50px">
    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12" style="padding-top:10px">
        <p>@Model.Resources["SplitterIntoMany"]</p>
        <div class="form-group" style="text-align:left">
            <label class="radio-inline">
                <input type="radio" name="splitType" id="radio1" value="1" checked /> @Model.Resources["SplitterEvery"]
            </label>
            <br />
            <label class="radio-inline" style="margin:12px 0 10px 0">
                <input type="radio" name="splitType" id="radio2" value="2" /> @Model.Resources["SplitterOdd"]
            </label>
            <br />
            <label class="radio-inline">
                <input type="radio" name="splitType" id="radio3" value="3" /> @Model.Resources["SplitterByNumber"]
            </label>
            <input type="text" id="splitNumber" style="width:40px" />
        </div>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12" style="padding-top:10px">
        <p>@Model.Resources["SplitterIntoSingle"]</p>
        <div class="form-group" style="text-align:left">
            <label class="radio-inline">
                <input type="radio" name="splitType" id="radio4" value="4" /> @Model.Resources["SplitterPageRange"]
            </label>
            <input type="text" id="splitRange" placeholder="1-2,4,6-9" style="width:120px" />
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
