@model ViewModel

<div id="DownloadPlaceHolder" class="hidden">
	<div class="filesuccess">
		<label id="SuccessMessage">@Model.SuccessMessage</label>
		<span class="convertbtn">
			<a href="#" id="DownloadButton" class="btn btn-success btn-lg">@Model.Resources["DownLoadNow"]&nbsp;<i class="fa fa-download"></i></a>
		</span>
		@if (Model.ShowViewerButton)
		{
			<div class="clearfix">&nbsp;</div>
			<span class="viewerbtn">
				<a href="#" id="ViewerLink" target="_self" class="btn btn-success btn-lg">@Model.ViewerButtonText &nbsp;<i class="fa fa-eye"></i></a>
			</span>
		}
		<div class="clearfix">&nbsp;</div>
		<a href="@Model.AppURL" class="btn btn-link refresh-c">@Model.AnotherFileText &nbsp;<i class="fa-refresh fa"></i></a>

	</div>    
    
</div>