@model ViewModel

<div class="container-fluid asposetools pb5">
    <div class="container">
        <div class="row">
			<div class="col-md-12 pt-5 pb-5" style="min-height:450px">
				<a href="/default" class="btn btn-success btn-lg">Home</a>
				<h1 id="ProductTitle">@Model.Title</h1>
				<h2 id="ProductTitleSub">@Model.TitleSub</h2>

				<div id="WorkPlaceHolder">


					<form id="UploadFile" name="UploadFile" enctype="multipart/form-data">
						@*This block is generated in filedrop.js
				<div class="filedrop filedrop-mvc fileplacement" id="filedrop">
					<label for="UploadFileInput" style="margin-top: 50px; text-decoration: underline">@Html.Raw(Model.Resources["DropOrUploadFiles"])</label>
					<input type="file" class="uploadfileinput" id="UploadFileInput1" name="UploadFileInput1"
						   accept="@Model.ExtensionsString.Replace("|.", ",.")"
						   multiple="!@Model.UploadAndRedirect.ToString().ToLower()" />
				</div>*@

						@if (!string.IsNullOrEmpty(Model.ControlsView))
						{
							@Html.Partial(Model.ControlsView)
						}

						@if (!Model.UploadAndRedirect)
						{
							<div class="col-md-12">
								@if (Model.SaveAsOptions != null)
								{
									@Html.Partial("SaveAs")
								}
								<div class="convertbtn">
									<input type="button" class="btn btn-success btn-lg" ID="uploadButton" value="@Model.UploadButtonText" />
								</div>
							</div>
						}
					</form>

				</div>
				@if (!Model.UploadAndRedirect || Model.AppName == "Metadata")
				{
					@Html.Partial("Download")
				}
				<div id="alertPlaceHolder" class="col-md-12">
					<br />
					<p id="alertMessage" class="alert alert-danger hidden"></p>
					<p id="alertSuccess" class="alert alert-success hidden"></p>
				</div>

				<div id="loaderPlaceHolder">
					<div id="loader" class="hidden" role="status" aria-hidden="true">
						<div class="progress">
							<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 15%">15%</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>


